:root{
    --color1:rgb(50, 168, 125);
    --color2:rgb(164, 50, 168);
    --color3: brown;
    --color4:limegreen;

    --duration:1s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #444444;
    width: 100vw;
    height: 100vh;    
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    
}

.container{
    display: flex;
    justify-content: wrap;
}

@keyframes pop{

    0%{
        background-color:none;
    }

    25%{

        background-color:salmon;

    }

    50%{

        background-color: seagreen;

    }

    75%{
        background-color: steelblue;
    }

    100%{

     background-color: yellowgreen;

    }
    
}

@keyframes spark{

from{

    background-color: turquoise;

}
to{
    background-color: none;
}

}



.spark-dot{
    /* background-color: violet; */
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin:5px;
    position: relative;
    
}



.spark-one{

    animation: spark infinite 2s 0.5s;

}

.spark-two{

    animation: spark infinite 2s 1s;

}

.spark-three{

    animation: spark infinite 2s 1.5s;

}


.pop-dot{
    background-color: rgb(146, 41, 146);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin:5px;
    position: relative;
    
}



.pop-one{

    animation: pop infinite 2s 0.5s;

}

.pop-two{

    animation: pop infinite 2s 1s;

}

.pop-three{

    animation: pop infinite 2s 1.5s;

}






@keyframes pop{

    0%{
        top: 0;
    }

    100%{
        top: 20px;
    }

}

.spin-dot{
    background-color: rgb(218, 84, 60);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin:5px;
    position: relative;
    animation: spin 2s infinite 1s ease-in-out;
    transform: translateZ(0);



}

  @keyframes spin{
    0%{
      transform:rotate(0deg)
                translate(-50px)
                rotate(0deg);
    }
    100%{
      transform:rotate(360deg)
                translate(-50px)
                rotate(-360deg);
            
    }

  }

  .circle-spin{
    border:3px solid;
    width:50px;
    height:50px;
    border-radius:50%;
    border-color:orange transparent transparent;
    animation:circle 1s linear infinite;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  
  @keyframes circle{
    

    
    100%{
        transform:rotate(360deg)
    }
  }