
#navbar{
    background: #00203FFF;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:end; 
    width: 100vw;
    z-index: 10;
}



#navbar > ul{
    
    list-style: none;
    display: flex;
    flex-direction: row;
     justify-content:flex-end;
    
    width: 100%;
}

#navbar > ul>li{
    display: flex;
    /* justify-content: center; */
    /* align-content: flex-end; */

}

#navbar > ul > li > a{
    background-color: #00203FFF;
    color: #ADEFD1FF;
    position: relative;
    overflow: hidden;
    padding: 1rem 3rem;
    font-family: 'Lobster', cursive ;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    transition: all 0.5s;
}

#navbar > ul > li > a:hover{
    color: #00203FFF;
    background-color: #ADEFD1FF;
}

#navbar > a{
    background: linear-gradient(270deg, #70d92c, #3faebb);
    font-family: 'Lobster', cursive ;
    color: #00203FFF;
    position: relative;
    overflow: hidden;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    display: fixed;
    width: 20%;
    transition: all 2s;
}

#navbar > a:hover{

    color:#ADEFD1FF;
    background: linear-gradient(270deg, #d96c2c, #a53fbb, #3faebb);
}

