
#navbar{
    background: #00203FFF;
    position: fixed; 
    width: 100vw;
    max-width: 100vw;
    height: auto;
    z-index: 5;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.801); */
    animation-name:shadow-change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    flex-wrap: wrap;


}

@keyframes shadow-change{
    
    0%{
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }
   50%{
        box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
    }
    0%{
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
}


.nav-top{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
    flex-wrap: wrap;
    width: 100%;

}

.navbox{
    position: relative;
    width: 50%;
    flex-wrap: wrap;
}

#nav-list{
    list-style: none;
    position: relative;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
}

#nav-list > li{

    display: flex;
    
} 

#nav-list > li >a{
    
    color:var(--light);
    text-decoration: none;
    padding: 1rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    transition: all 0.5s;
}

#nav-list > li >a:hover{
    color: var(--dark);
    background-color: var(--light);
} 




 .logo{
    width: 100%;
    background: linear-gradient(270deg, #70d92c, #3faebb);
    font-family: 'Lobster', cursive ;
    font-weight: bold;
    color: #00203f;
    position: relative;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 2s;
} 

 .logo:hover{
    color:#ADEFD1FF;
    background: linear-gradient(270deg, #d96c2c, #a53fbb, #3faebb);
} 
