
:root{
    --dark:#00203FFF; 
    --light:#ADEFD1FF;
    max-width: 100vw;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.fullpage{
    width: 100vw;
    height: 100vh;
    /* font-family: 'Lobster', cursive ; */
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
}

.logo{
    
    color: rgb(255, 255, 255);
    cursor: pointer;
    display :block;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Poppins', sans-serif;
    

}
