#div1{
    border-radius: 25px;
  border: 1px solid red;
  
  
    
    
}

#div2{
    font-style: italic;
    font-weight: bold;
}

#div3{
    box-shadow: 1.5px 1.5px grey;
    background-color: black;
    color: white;
    font-family: monospace;
}