* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
}

body {
  color: #0f1111;
}

#navbar-main {
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#nav-belt {
  background-color: #131921;
  height: 60px;
  display: flex;
  flex-direction: row;
  /* align-content: space-around; */
  justify-content: space-between;
  /* position: static; */
  float: none;
  width: 100%;
  font-size: 14px;
  z-index: 5;
  font-family: inherit;
  line-height: 1.5em;
}

#nav-fill,
#nav-search,
#nav-search-bar-form,
.nav-left,
#nav-right {
  display: flex;
  flex-direction: row;
}

#left-logo {
  height: 30px;
  width: 97px;
  margin: 12px;
  padding: 1px 8px 0 6px;
}

#nav-main {
  background-color: #232f3e;
  width: 100%;
  height: 39px;
}

#location-text-container,
#sign-in-box,
#orders-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#nav-global-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: fit-content;
  height: auto;
  position: static;
}

#location-map-marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0rem 0.5rem;
}

.grey-text {
  color: #ccc;
  margin-top: 0;
  padding-right: 0;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
}
.grey-text-bald {
  padding-bottom: 1px;
  padding-right: 0;
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}

#nav-search-bar-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f3f3f3;
  background-image: none;
  border-left: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  height: 40px;
  width: 500px;
  margin: 0;
  padding-left: 5px;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  color: black;
}

#search-box {
  width: 100%;
  line-height: 15px;
  padding: 7px 10px 10px 0;
  margin: 0;
  border: 0;
  height: 38px;
  font-family: inherit;
  font-size: 15px;
  background: 0 0;
  color: #111;
  outline: 0;
  box-shadow: none;
  text-indent: 8px;
  direction: ltr;
  top: 0;
  left: 0;
  display: flex;
  position: static;
}

#nav-search {
  width: 100%;
  padding: 10px 4px 10px 3px;
  height: 60px;
  position: static;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-left-search {
  font-size: 14px;

  /* overflow: hidden; */
  border: 1px solid #cdcdcd;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  background-image: none;
  border-left: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  height: 40px;

  margin: 0;
  padding-left: 5px;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  font-size: 14px;
  color: black;
}

.nav-right-search {
  background-color: #febd69;
  background-color: #febd69;
  background-image: none;
  border: none;
  display: flex;
  min-width: auto;
  width: 40px;
  height: 40px;
  font-size: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#flag-box,
#cart-box,
#orders-box,
#sign-in-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

#flag {
  width: 24px;
  height: 18px;
  margin: 0 2px 1px 0;
}

#nav-main {
  margin: 0px 0 6px 0;
  padding: 8px 9px;
}
#nav-main > span {
  margin: 5px;
}

.white-border-hover:hover {
  border: 1px solid white;
}

#breadcrumbs {
  padding: 0 10px;
}

.breadcrumb-txt {
  color: #565959;
  line-height: 14px;
  font-size: 10px;
}

#dp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 500px;
}

#centerCol {
  width: 540px;

  font-size: 14px;
  line-height: 20px;
}

.product-title {
  font-size: 14px;
  line-height: 20px;
  display: block;
  width: 100%;
}
.line {
  display: block;
  width: 100%;
  padding: 0 2px;
  margin: 0 3px;
}
.not-line {
  display: inline-block;
}

.red-title {
  padding-top: 5px;
  color: #b12704;
  font-size: 18px;
  line-height: 24px;
}

.arrives-box {
  padding: 4px 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
}

#info-top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#left-info,
#right-info {
  margin-right: 20px;
}
#left-info {
  font-weight: bold;
}

#left-info > div,
#right-info > div {
  margin: 5px 0;
}

#ppd {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gal-img {
  height: 38px;
  width: auto;
  border: 1px solid black;
}

#gallery {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

#leftCol {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}

#displayedpic {
  width: 500px;
  background: url("../media/41ZkPX0PYwL._AC_SX466_.jpg") no-repeat center center;
}

#data-a-carousel-options {
}

/*  */
/*  */
/*  */

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  width: 500px;
  height: auto;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background: url("../media/41ZkPX0PYwL._AC_SX466_.jpg") center center/cover
    no-repeat;
  counter-increment: item;
}

.carousel__slide:nth-child(1) {
  background: url("../media/71ytdrrcd7L._AC_UL160_SR160\,160_.jpg") center
    center/cover no-repeat;
}
.carousel__slide:nth-child(2) {
  background: url("../media/51yOEw3MjDL._AC_SX466_.jpg") center center/cover
    no-repeat;
}
.carousel__slide:nth-child(3) {
  background: url("../media/41XYOcHXdcL._AC_SX466_.jpg") center center/cover
    no-repeat;
}

.carousel__slide:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
